<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
      <meta charset="utf-8">
      <title>Suelo Fertil - Capacitaciones</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg  barra sticky-top navbar-light bg-white ">
      <a class="navbar-brand" href="../"><img src="{% static 'images/suelofertil.png' %}" class ="logo"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav navbar-light bg-light bg-white mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link inicio" href="../inicio"><img src="{% static 'images/inicio.png' %}" class="logosnav"/>inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mundoyoto" href="../mundoyoto"><img src="{% static 'images/mundoyoto.png' %}" class="logosnav"/>mundo yoto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link capacitaciones  active1" href="../capacitaciones"><img src="{% static 'images/capacitaciones.png' %}" class="logosnav"/>capacitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link talleres" href="../talleres"><img src="{% static 'images/talleres.png' %}" class="logosnav"/>talleres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link historias" href="../historias"><img src="{% static 'images/historias.png' %}" class="logosnav"/>historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contactanos" href="../contactanos"><img src="{% static 'images/contactanos.png' %}" class="logosnav"/>contáctanos</a>
          </li>
          <form class="form-inline my-1 my-lg-0">
            <input class="form-control-light mr-sm-0 buscar" type="search" placeholder="buscar">
            <button class="btn btn-light my-2 my-sm-0 botonbuscar" type="submit"><img src="{% static 'images/buscar.png' %}" class="logosnavb"/></button>
          </form>
          <li class="nav-item">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal"><button type="submit" form="paypal" value="Submit" class="btn btn-danger colabora" >
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4UY9BH3ZTNDXQ">
            <img src="{% static 'images/corazon.png' %}" class="logosnav"/>colabora</button>
          </form>
          </li>
        </ul>

      </div>
    </nav>


    <div class="container gridc">
      <div class="row">
        <div class="col-1">

        </div>
        <div class="col-14">
{% if insert_capacitaciones%}
{% for cap in insert_capacitaciones%}

<div class="card mb-3 cardcc rounded" >
  <div class=container>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active tc" id="nav-home-tab" data-toggle="tab" href="#{{cap.id_capacitacion}}" role="tab" aria-controls="nav-home" aria-selected="true">Descripción</a>
        <a class="nav-item nav-link tc" id="nav-profile-tab" data-toggle="tab" href="#a{{cap.id_capacitacion}}" role="tab" aria-controls="nav-profile" aria-selected="false">Imágenes</a>
        <a class="nav-item nav-link tc" id="nav-contact-tab" data-toggle="tab" href="#b{{cap.id_capacitacion}}" role="tab" aria-controls="nav-contact" aria-selected="false">Video</a>
          <a class="nav-item nav-link tc" id="nav-contact-tab" data-toggle="tab" href="#c{{cap.id_capacitacion}}" role="tab" aria-controls="nav-contact" aria-selected="false">Archivo</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="{{cap.id_capacitacion}}" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row ">
          <div class ="col-5 sm">
            {% if cap.primera.foto != null  %}
            <img class="card-img imgcap" src="../{{ cap.primera.foto }}" alt="Card image cap">
            {% endif %}
          </div>

          <div class ="col sm">
            <div class= "row">
              <h5 class="card-title font-weight-light titulocap">{{ cap.titulo_capacitacion}}</h5>

            </div>
              <div class= "row">

              <p class="card-text font-weight-light cont1cap">{{ cap.contenido_capacitacion}}</p>


            </div>

        <div class ="row  align-items-end ultcol">
        </div>
      </div>
    </div>
          <div class="container">
            <div class="row  align-items-end">

              <div class="col sm-10 align-self-end">
                  <p class="card-text font-weight-light"><small class="text-muted">Última actualización: {{cap.date}}</small></p>
              </div>
              <div class="col sm-2 align-self-end text-right">


              </div>
            </div>
          </div>


      </div>
      <div class="tab-pane fade" id="a{{cap.id_capacitacion}}" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
          {% for img in cap.todas %}
          <div class="col sm">
              <img class="card-img imgcap" src="../{{ img.foto }}" alt="Card image cap">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane fade" id="b{{cap.id_capacitacion}}" role="tabpanel" aria-labelledby="nav-contact-tab">
        {% if cap.link_video %}
        <div class="row ">
          <div class ="col sm-8">
              <iframe width="470" height="265" src="{{cap.link_video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          <div class ="col sm -8">
            <div class= "row">
            </div>
              <div class= "row">

              <p class="card-text font-weight-light cont1cap">{{ cap.descripcion_video}}</p>


            </div>

        <div class ="row  align-items-end ultcol">
        </div>
      </div>
    </div>


        {% else %}
        <div class="row ">
          <div class="col sm-1">
          </div>
          <div class="col sm-11 colalt">
            <br>
            <br>
              No hay video para mostrar                                                                    .
            <br>
            <br>
            <br>
            <br>
          </div>

    </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="c{{cap.id_capacitacion}}" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
        {% for arc in cap.todosarchivos %}
        {% if arc.imagen_archivo == 'EXCEL' %}
        <div class="col-3 sm">
          <a href="../{{ arc.archivo_capacitacion }}" >  <img src="../static/documents/EXCEL.png"  title = "{{ arc.archivo_capacitacion }}"  width="120px" height="110px"></a>
        </div>
        {% endif %}
        {%  if arc.imagen_archivo == 'PDF' %}
        <div class="col-3 sm">
          <a href="../{{ arc.archivo_capacitacion }}" >    <img src="../static/documents/PDF.png"  title = "{{ arc.archivo_capacitacion }}" width="100px" height="110px"></a>
        </div>
        {% endif %}
        {%  if arc.imagen_archivo == 'WORD' %}
        <div class="col-3 sm">
          <a href="../{{ arc.archivo_capacitacion }}" >    <img src="../static/documents/WORD.png"  title = "{{ arc.archivo_capacitacion }}" width="110px" height="120px"></a>
        </div>
        {% endif %}
        {%  if arc.imagen_archivo == 'PPTX' %}
        <div class="col-3 sm">
          <a href="../{{ arc.archivo_capacitacion }}" >    <img src="../static/documents/PPTX.png" title = "{{ arc.archivo_capacitacion }}" width="90px" height="110px"></a>
        </div>
        {% endif %}
        {%  if arc.imagen_archivo == 'OTRO' %}
        <div class="col-3 sm">
          <a href="../{{ arc.archivo_capacitacion }}" >    <img src="../static/documents/OTRO.png" title = "{{ arc.archivo_capacitacion }}" width="90px" height="110px"></a>
        </div>
        {% endif %}

        {% endfor %}
        </div>
      </div>
    </div>

      </div>


</div>
{% endfor %}
{% else %}
<p> No hay capacitaciones disponibles <p>
{% endif %}
</div>
        </div>
        <div class="col-1">

        </div>
      </div>

    <script type="text/javascript" href="{% static "ajax/ajax.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

      <button type="submit" form="paypal" value="Submit" class="btn-danger btn-donar"><img src="{% static 'images/corazon.png' %}" class="logo-btn-donar"/></button>

  <div sid="footer" id="foot" >
     <footer class="page-footer font-small stylish-color-dark pt-4 mt-4"  >

         <!--Footer Links-->
         <div class="container text-center text-md-left" #footDiv>

             <!-- Footer links -->
             <div class="row text-center text-md-left mt-3 pb-3">
                 <!--First column-->
                 <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                     <h6 id="sueloFertil" class="text-uppercase mb-4 font-weight-bold">Aliados</h6>
                 {% if insert_organizacinoes%}
                 {% for org in insert_organizacinoes%}

                      <a href="{{ org.link_organizacion}}">
                           <img src="../{{ org.img_organizacion}}"  style="width:120px;height:40px;border:0;">
                     </a>
                     <br><br>
                 {% endfor %}
                 {% else %}
                 <h1>Logo</h1>
                 {% endif %}

                 </div>
                 <!--/.First column-->

                 <hr class="w-100 clearfix d-md-none">

                 <!--Second column-->
                 <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                     <h6 id="aliados" class="text-uppercase mb-4 font-weight-bold"></h6>

                 {% if insert_organizacinoes%}
                 {% for org in insert_organizacinoes2%}

                      <a href="{{ org.link_organizacion}}">
                           <img src="../{{ org.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                     </a>
                     <br><br>
                 {% endfor %}
                 {% else %}
                 <h1>Logo</h1>
                 {% endif %}
                    <!-- <a href="#!">
                           <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                     </a>
                     <a href="#!">
                           <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                     </a>-->
                 </div>
                 <!--/.Second column-->

                 <hr class="w-100 clearfix d-md-none">

                 <!--Third column-->
                 <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                 {% if insert_organizacinoes3%}
                 {% for org2 in insert_organizacinoes3%}
                      <a href="../{{ org2.link_organizacion}}">
                           <img src="{{ org2.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                     </a>
                     <br><br>
                 {% endfor %}
                 {% else %}
                 <h1>Logo</h1>
                 {% endif %}
                 </div>
                 <!--/.Third column-->

                 <hr class="w-100 clearfix d-md-none">

                 <!--Fourth column-->
                 <div id="contacto_icons" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                     <h6 id="contacto" class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
                     <p><i class="fa fa-home mr-3"></i> Direccion</p>
                     <p><i class="fa fa-envelope mr-3"></i> correo</p>
                     <p><i class="fa fa-phone mr-3"></i> numero</p>

                 </div>
                 <!--/.Fourth column-->

             </div>
             <!-- Footer links -->

             <hr>

             <div class="row py-3 d-flex align-items-center">

                 <!--Grid column-->
                 <div id="marca" class="col-md-8 col-lg-8">

                     <!--Copyright-->
                     <p class="text-center text-md-left grey-text">© 2018 Copyright: <a> Suelo Fertil</a></p>
                     <!--/.Copyright-->

                 </div>
                 <!--Grid column-->

                 <!--Grid column-->
                 <div class="col-md-4 col-lg-4 ml-lg-0">

                     <!--Social buttons-->
                     <div id="social_Icon" class="text-center text-md-right">
                         <ul class="list-unstyled list-inline">
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                     <!--/.Social buttons-->

                 </div>
                 <!--Grid column-->

             </div>

         </div>

     </footer>
   </div>
</html>
