<div class="panel panel-default">
        <div class="panel-body">
                <div class="row">
                        <div class="col-lg-7">
                                <h3>{{ object.titulo_capacitacion }}</h3>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-4">
                      
                        </div>
                </div>
        </div>
</div>
