<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
      <meta charset="utf-8">
      <title>Suelo Fertil - Inicio</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <link rel="stylesheet" href="{% static "css/carrusel_style.css" %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg  barra sticky-top navbar-light bg-white ">
      <a class="navbar-brand" href="../"><img src="{% static 'images/suelofertil.png' %}" class ="logo"/></a>
      <button class="navbar-toggler "  type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-light bg-light bg-white">
          <li class="nav-item active">
            <a class="nav-link inicio  " href="../inicio"><img src="{% static 'images/inicio.png' %}" class="logosnav"/>inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mundoyoto" href="../mundoyoto"><img src="{% static 'images/mundoyoto.png' %}" class="logosnav"/>mundo yoto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link capacitaciones" href="../capacitaciones"><img src="{% static 'images/capacitaciones.png' %}" class="logosnav"/>capacitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link talleres" href="../talleres"><img src="{% static 'images/talleres.png' %}" class="logosnav"/>talleres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link historias" href="../historias"><img src="{% static 'images/historias.png' %}" class="logosnav"/>historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contactanos" href="../contactanos"><img src="{% static 'images/contactanos.png' %}" class="logosnav"/>contáctanos</a>
          </li>
          <form class="form-inline my-1 my-lg-0">
            <input class="form-control-light mr-sm-0 buscar" type="search" placeholder="buscar">
            <button class="btn btn-light my-2 my-sm-0 botonbuscar" type="submit"><img src="{% static 'images/buscar.png' %}" class="logosnavb"/></button>
          </form>
          <li class="nav-item">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal"><button type="submit" form="paypal" value="Submit" class="btn btn-danger colabora" >
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4UY9BH3ZTNDXQ">
            <img src="{% static 'images/corazon.png' %}" class="logosnav"/>colabora</button>
          </form>
          </li>
        </ul>

      </div>
    </nav>

    <!--:::::Carrusel:::::-->
      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">

            <!-- 1 -->


            {% if insert_imgCarrusel%}
            {% for img in insertImagenP %}
            <div class="carousel-item active" style="background-image: url('../{{ img.foto }}')">
                <div class="carousel-caption d-none d-md-block">
                <div class="box-info">
                  <h3 class="box-content">{{ img.titulo }}</h3><br>
                  <p class="box-content">{{ img.descripcion }}</p>
                </div>
                </div>
              </div>
            {% endfor %}
             {% for imgC in insert_imgCarrusel %}

            <!-- 1 -->
          <div class="carousel-item " style="background-image: url('../{{ imgC.foto }}')">
              <div class="carousel-caption d-none d-md-block">
              <div class="box-info">
                <h3 class="box-content">{{ imgC.titulo }}</h3><br>
                <p class="box-content">{{ imgC.descripcion }}</p>
              </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}

            <!-- 2-->
            <!--<div class="carousel-item" style="background-image: url('http://www.telemundo.com/sites/nbcutelemundo/files/styles/article_cover_image/public/images/article/cover/2017/03/07/nino-planta-vegetales.jpg?itok=rmObLdLM')">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="box-content">::::TITULO:::::::::</h3>
                <p class="box-content">:::::::::::::::::::TEXTO:::::::::::::</p>
              </div>
            </div>-->
            <!-- 3 -->
            <!--<div class="carousel-item" style="background-image: url('https://clubdejardineria.homedepot.com.mx/uploads/Notas/Imagen-Interna-4.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3>::::TITULO:::::::::</h3>
                <p>:::::::::::::::::::TEXTO:::::::::::::</p>
              </div>
            </div>-->
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>




             <div class="container marketing indexb">

                   <!-- Three columns of text below the carousel -->

                   <div class="row">
                     <div class="col-sm-4">
                       <center>
                       <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                      </center>

                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4">
                       <center>
                       <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                       </center>
                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4">
                       <center>
                       <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                      </center>
                     </div><!-- /.col-lg-4 -->
                   </div><!-- /.row -->

                   <div class="row">
                     <div class="col-sm-4 conindex">
                       <center>
                       <h2>¿Quiénes Somos?</h2>
                      </center>

                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4 conindex">
                       <center>
                      <h2>Misión</h2>
                       </center>
                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4 conindex">
                       <center>
                       <h2>Visión</h2>
                      </center>
                     </div><!-- /.col-lg-4 -->
                   </div><!-- /.row -->



                      {% if insert_info %}
                      {% for info in insert_info %}
                      <div class="row">
                        <div class="col-sm-4 ">
                          <center>
                           <p>{{info.Quienes_Somos}}
                         </center>
                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4">
                       <center>
                        <p>{{info.Misión}}
                      </center>
                     </div><!-- /.col-lg-4 -->
                     <div class="col-sm-4">
                       <center>
                        <p>{{info.Visión}}
                      </center>
                     </div><!-- /.col-lg-4 -->
                   </div><!-- /.row -->
                   {% endfor %}
                   {% endif %}

<div class="row apor">
{% if insert_archivo != null %}
{% for archi in insert_archivo %}
<div class="col-9 sm">
  <h1 class="tapor"> Conoce las aportaciones</h1>
</div>
<div class="col-1 sm">
  <a href="../{{ archi.Archivo }}" >  <img src="../static/documents/PDF.png"  title = "{{ archi.Archivo }}"  width="120px" height="130px"></a>
</div>
{% endfor %}
{% endif %}
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <button type="submit" form="paypal" value="Submit" class="btn-danger btn-donar"><img src="{% static 'images/corazon.png' %}" class="logo-btn-donar"/></button>

<div sid="footer" id="foot" >
 <footer class="page-footer font-small stylish-color-dark pt-4 mt-4"  >

     <!--Footer Links-->
     <div class="container text-center text-md-left" #footDiv>

         <!-- Footer links -->
         <div class="row text-center text-md-left mt-3 pb-3">
             <!--First column-->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                 <h6 id="sueloFertil" class="text-uppercase mb-4 font-weight-bold">Aliados</h6>
             {% if insert_organizacinoes%}
             {% for org in insert_organizacinoes%}

                  <a href="{{ org.link_organizacion}}">
                       <img src="../{{ org.img_organizacion}}"  style="width:120px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}

             </div>
             <!--/.First column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Second column-->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                 <h6 id="aliados" class="text-uppercase mb-4 font-weight-bold"></h6>

             {% if insert_organizacinoes%}
             {% for org in insert_organizacinoes2%}

                  <a href="{{ org.link_organizacion}}">
                       <img src="../{{ org.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}
                <!-- <a href="#!">
                       <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                 </a>
                 <a href="#!">
                       <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                 </a>-->
             </div>
             <!--/.Second column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Third column-->
             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
             {% if insert_organizacinoes3%}
             {% for org2 in insert_organizacinoes3%}
                  <a href="../{{ org2.link_organizacion}}">
                       <img src="{{ org2.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}
             </div>
             <!--/.Third column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Fourth column-->
             <div id="contacto_icons" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                 <h6 id="contacto" class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
                 <p><i class="fa fa-home mr-3"></i> Direccion</p>
                 <p><i class="fa fa-envelope mr-3"></i> correo</p>
                 <p><i class="fa fa-phone mr-3"></i> numero</p>

             </div>
             <!--/.Fourth column-->

         </div>
         <!-- Footer links -->

         <hr>

         <div class="row py-3 d-flex align-items-center">

             <!--Grid column-->
             <div id="marca" class="col-md-8 col-lg-8">

                 <!--Copyright-->
                 <p class="text-center text-md-left grey-text">© 2018 Copyright: <a> Suelo Fertil</a></p>
                 <!--/.Copyright-->

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-md-4 col-lg-4 ml-lg-0">

                 <!--Social buttons-->
                 <div id="social_Icon" class="text-center text-md-right">
                     <ul class="list-unstyled list-inline">
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                 </div>
                 <!--/.Social buttons-->

             </div>
             <!--Grid column-->

         </div>

     </div>

 </footer>
</div>
</html>
