<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
      <meta charset="utf-8">
      <title>Suelo Fertil - Mundo Yoto</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg  barra sticky-top navbar-light bg-white ">
      <a class="navbar-brand" href="../"><img src="{% static 'images/suelofertil.png' %}" class ="logo"/></a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-light bg-light bg-white">
          <li class="nav-item ">
            <a class="nav-link inicio" href="../inicio"><img src="{% static 'images/inicio.png' %}" class="logosnav"/>inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mundoyoto  active1" href="../mundoyoto"><img src="{% static 'images/mundoyoto.png' %}" class="logosnav"/>mundo yoto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link capacitaciones" href="../capacitaciones"><img src="{% static 'images/capacitaciones.png' %}" class="logosnav"/>capacitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link talleres" href="../talleres"><img src="{% static 'images/talleres.png' %}" class="logosnav"/>talleres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link historias" href="../historias"><img src="{% static 'images/historias.png' %}" class="logosnav"/>historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contactanos" href="../contactanos"><img src="{% static 'images/contactanos.png' %}" class="logosnav"/>contáctanos</a>
          </li>
          <form class="form-inline my-1 my-lg-0">
            <input class="form-control-light mr-sm-0 buscar" type="search" placeholder="buscar">
            <button class="btn btn-light my-2 my-sm-0 botonbuscar" type="submit"><img src="{% static 'images/buscar.png' %}" class="logosnavb"/></button>
          </form>
          <li class="nav-item">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal"><button type="submit" form="paypal" value="Submit" class="btn btn-danger colabora" >
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4UY9BH3ZTNDXQ">
            <img src="{% static 'images/corazon.png' %}" class="logosnav"/>colabora</button>
          </form>
          </li>
        </ul>

      </div>
    </nav>

    <div class= "row sm">
      <div class ="col-2 sm">
        <div class="nav flex-column sticky-right nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active mundoyotonav" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mundo Yoto</a>
          {% if insert_navs %}
          {% for nav in insert_navs %}
          <a class="nav-link mundoyotonav" id="v-pills-profile-tab" data-toggle="pill" href="#{{nav.id_nav}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{nav.Titulo}}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-9 m">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">


 </div>
  {% if insert_navs %}
  {% for nav in insert_navs %}

          <div class="tab-pane fade" id="{{nav.id_nav}}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  {% for cont in nav.todosmundo %}
          <div class="row">
            <div class ="col sm yotocol">
              <h2 class="tituloyoto"> {{cont.Titulo}} </h2>
              <p> {{cont.parrafo1}}
              {% if cont.foto1 %}
              <p> <img class="" src="../{{ cont.foto1 }}" width=70%>
              {% endif %}
              {% if cont.parrafo2 %}
              <p> {{cont.parrafo2}}
              {% endif %}
              {% if cont.foto2 %}
              <p> <img class="" src="../{{ cont.foto2 }}" width=70%>
              {% endif %}
              {% if cont.video %}
              <p>  <iframe width="470" height="265" src="https://www.youtube.com/embed/{{ cont.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              {% endif %}
              {% if cont.archivo %}
              {% if cont.imagen_archivo == 'EXCEL' %}
              <div class="col-3 sm">
                <a href="../{{ cont.archivo }}" >  <img src="../static/documents/EXCEL.png"  title = "{{ arc.archivo_capacitacion }}"  width="120px" height="110px"></a>
              </div>
              {% endif %}
              {%  if cont.imagen_archivo == 'PDF' %}
              <div class="col-3 sm">
                <a href="../{{ cont.archivo }}" >    <img src="../static/documents/PDF.png"  title = "{{ arc.archivo_capacitacion }}" width="100px" height="110px"></a>
              </div>
              {% endif %}
              {%  if cont.imagen_archivo == 'WORD' %}
              <div class="col-3 sm">
                <a href="../{{ cont.archivo }}" >    <img src="../static/documents/WORD.png"  title = "{{ arc.archivo_capacitacion }}" width="110px" height="120px"></a>
              </div>
              {% endif %}
              {%  if cont.imagen_archivo == 'PPTX' %}
              <div class="col-3 sm">
                <a href="../{{ cont.archivo }}" >    <img src="../static/documents/PPTX.png" title = "{{ arc.archivo_capacitacion }}" width="90px" height="110px"></a>
              </div>
              {% endif %}
              {%  if cont.imagen_archivo == 'OTRO' %}
              <div class="col-3 sm">
                <a href="../{{cont.archivo }}" >    <img src="../static/documents/OTRO.png" title = "{{ arc.archivo_capacitacion }}" width="90px" height="110px"></a>
              </div>
              {% endif %}
              {% endif %}

            </div>
          </div>

          </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
          </div>
      </div>
    </div>



{% if insert_modals %}
{% for mod in insert_modals %}
  

{% endfor %}
{% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <button type="submit" form="paypal" value="Submit" class="btn-danger btn-donar"><img src="{% static 'images/corazon.png' %}" class="logo-btn-donar"/></button>

<div sid="footer" id="foot" >
 <footer class="page-footer font-small stylish-color-dark pt-4 mt-4"  >

     <!--Footer Links-->
     <div class="container text-center text-md-left" #footDiv>

         <!-- Footer links -->
         <div class="row text-center text-md-left mt-3 pb-3">
             <!--First column-->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                 <h6 id="sueloFertil" class="text-uppercase mb-4 font-weight-bold">Aliados</h6>
             {% if insert_organizacinoes%}
             {% for org in insert_organizacinoes%}

                  <a href="{{ org.link_organizacion}}">
                       <img src="../{{ org.img_organizacion}}"  style="width:120px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}

             </div>
             <!--/.First column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Second column-->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                 <h6 id="aliados" class="text-uppercase mb-4 font-weight-bold"></h6>

             {% if insert_organizacinoes%}
             {% for org in insert_organizacinoes2%}

                  <a href="{{ org.link_organizacion}}">
                       <img src="../{{ org.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}
                <!-- <a href="#!">
                       <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                 </a>
                 <a href="#!">
                       <img src="http://coepesqro.org.mx/static/images/app/queretaro.png"  style="width:120px;height:50px;border:0;">
                 </a>-->
             </div>
             <!--/.Second column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Third column-->
             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
             {% if insert_organizacinoes3%}
             {% for org2 in insert_organizacinoes3%}
                  <a href="{{ org2.link_organizacion}}">
                       <img src="../{{ org2.img_organizacion}}"  style="width:130px;height:40px;border:0;">
                 </a>
                 <br><br>
             {% endfor %}
             {% else %}
             <h1>Logo</h1>
             {% endif %}
             </div>
             <!--/.Third column-->

             <hr class="w-100 clearfix d-md-none">

             <!--Fourth column-->
             <div id="contacto_icons" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                 <h6 id="contacto" class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
                 <p><i class="fa fa-home mr-3"></i> Direccion</p>
                 <p><i class="fa fa-envelope mr-3"></i> correo</p>
                 <p><i class="fa fa-phone mr-3"></i> numero</p>

             </div>
             <!--/.Fourth column-->

         </div>
         <!-- Footer links -->

         <hr>

         <div class="row py-3 d-flex align-items-center">

             <!--Grid column-->
             <div id="marca" class="col-md-8 col-lg-8">

                 <!--Copyright-->
                 <p class="text-center text-md-left grey-text">© 2018 Copyright: <a> Suelo Fertil</a></p>
                 <!--/.Copyright-->

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-md-4 col-lg-4 ml-lg-0">

                 <!--Social buttons-->
                 <div id="social_Icon" class="text-center text-md-right">
                     <ul class="list-unstyled list-inline">
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
                         <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                 </div>
                 <!--/.Social buttons-->

             </div>
             <!--Grid column-->

         </div>

     </div>

 </footer>
</div>
</html>
