h1 {
  color:red;
}
.logo {
   width: 90px !important;
   margin-left: 10px !important;

}
.barra {
  height: 45px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.inicio{
  color: #74227A !important;
  font-size: 13px !important;
  padding-left: 8px !important;
  padding-right: 6px !important;
}

.inicio:hover {
  color:black !important;
}

.mundoyoto{
  color: #CE242A !important;
  font-size: 13px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.mundoyoto:hover {
  color:black !important;
}
.capacitaciones {
  color:#F29A00 !important;
  font-size: 13px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.capacitaciones:hover {
  color:black !important;
}
.talleres{
  color: #F2CE20 !important;
  font-size: 13px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.talleres:hover {
  color:black !important;
}
.historias{
  color: #7BB200 !important;
  font-size: 13px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.historias:hover {
  color:black !important;
}
.contactanos{
  color: #00A4B1 !important;
  font-size: 13px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.contactanos:hover {
  color:black !important;
}
.logosnav{
  width: 20px !important;
  align-items: center !important;
  margin-top: -3px !important;
  margin-right: 7px !important;
}
.logosnavb{
  width: 18px !important;
  margin-top: -15px !important;
  margin-left: -5px !important;

}
.nav-item{
  margin-left: 7px !important;
  margin-right: 7px !important;
}
.buscar {
  height: 27px !important;
  width:200px !important;
  color: #003097 !important;
  border: 2px  #003097 !important;

  margin-left: 15px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.buscar:active{
  color:black !important;

  margin-left: 10px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.active1 {
    color:black !important;
}

.buscar:hover{
  color:black !important;
  border: 10px;
}
.botonbuscar{
  height: 27px !important;
  width: 32px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.colabora {
  height: 38px !important;
  width: 130px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  margin-left: 20px !important;
}

.logo-botondonar{
  width: 15px !important;
  align-items: center !important;
  margin-top: -17px !important;
  margin-right: 17px !important;
}

.navbar {
  background-color: white !important;
   box-shadow: 1px 1px 9px #888888 !important;
}

.btn-donar{
    position: fixed;
    border: none;
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}

.logo-btn-donar{
  width: 38px !important;
}

#formaContac{
  margin-top: 50px !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
  padding: 15px !important;
  box-shadow: 0px 0px 10px lightgrey;
}

.gridc {
  margin-top :3% !important;
}

.cardcc {
  padding: 10px !important!
  border: 10px solid red !important;
  padding-top: 1.5% !important;
  padding-bottom: 1.5% !important;
  border: 2px !important;
}

.card.cardcc{
  border: #F29A00 solid 0px !important;
}

.ultcol{
  align-items:flex-end !important;
  align-content: flex-end !important;
  align-self: flex-end !important;
}

.titulocap{
font-size: 28px !important;
font-style: bold !important;
}

.cont1cap{

}
.b1{
background-color:#F29A00 !important;
border: 0px !important;
}
.b1:active{

}
.active{
  /* color: black !important; */
}
.tc{
  color: #F29A00 !important;
}
.tc:active{
  color:black !important;
}
.tc::selection{
  color: black !important;
}

#contHistorias{

  padding: 15px !important;
  box-shadow: 0px 0px 3px grey;
}

#cardHistorias{
  margin-bottom: 40px !important;

}

.card-taller{
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titulo-taller{
    background-color: #5DB300;
    color: white;
    text-align: center;
    padding-bottom: 3px;
}

.fecha-taller{
    background-color: #5DB300;
    color: white;
    text-align: center;
}

.imgcap{
  height:200px !important;
  width:auto !important;
   object-fit: cover !important;
   width: 22vw !important;
   height: 210px !important;
}
.colalt{
  width:1100px !important;
}
#footer{
  z-index: -1 !important;
}
#foodDiv{
  position: relative !important;
}
 #footer{
    background-color: #f5f6fa !important;
    position:relative !important;
 }
 #sueloFertil{
   color: #da5135 !important;
 }



 #contacto{
   color: #3e1341 !important;
 }
 #contacto_icons{
   color:  #74227A !important;
 }

 #social_Icon{
   color: #00A4B1 !important;
 }
 #marca{
   color: #00A4B1 !important;
 }
 .his.active{
     background-color: #74227A !important;
     color: white !important;
 }
 .active.mundoyotonav{
   background-color: #CE242A !important;
   color: white !important;
 }
 .mundoyotonav {
   background-color: white !important;
   color: black !important;
   border-radius: 0px !important;
 }

 .tituloyoto{
     color: #CE242A !important;
 }
 .yotocol {
   margin: 20px !important;
 }
 .indexb {
   margin-top: 40px !important;
 }
 .conindex{
   margin-top: 10px !important;
   margin-bottom: 10px !important;
 }
 .modalicon{
   width: 30px !important;
   margin: 15px !important;
 }
 .colyoto{
   margin-top: 20px !important;
   margin-left: 50px !important;
 }
 .tituloyoto{
   color: white !important;
   font-size: 280% !important;
 }
 .contyoto{

   font-size: 200% !important;
 }
 .imagenmundo{
   margin-top: 20px !important;
 }
 .md-modal {
 	position: fixed;
 	top: 50%;
 	left: 50%;
 	width: 50%;
 	max-width: 630px;
 	min-width: 320px;
 	height: auto;
 	z-index: 2000;
 	visibility: hidden;
 	backface-visibility: hidden;
 	transform: translateX(-50%) translateY(-50%);
 }

 .md-show {
 	visibility: visible;
 }

 .md-overlay {
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	visibility: hidden;
 	top: 0;
 	left: 0;
 	z-index: 1000;
 	opacity: 0;
 	background: rgba(143,27,15,0.8);
 	transition: all 0.3s;
 }

 .md-show ~ .md-overlay {
 	opacity: 1;
 	visibility: visible;
 }

 .md-show.md-effect-5 ~ .md-overlay {
	background: rgba(0,127,108,0.8);
}

.md-effect-5 .md-content {
	transform: scale(0) rotate(720deg);
	opacity: 0;
	transition: all 0.5s;
}

.md-show.md-effect-5 .md-content {
	transform: scale(1) rotate(0deg);
	opacity: 1;
}
.apor {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: #E0E0E0 !important;
  margin-top: 20PX !important;
  margin-bottom: 20px !important;
}
.tapor{
  margin-top: 40px !important;
  margin-left: 30px !important;
}
