{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
  #header{
    background-color: #7BB200 !important;
    color: white !important;
  }
  #branding h1{
    color: white !important;

  }
  #site-name a{
      color: white !important;
  }
  .app-suelo_fertil_app.module table caption {
    background-color: #00A4B1 !important;
  }
  .app-auth.module table caption {
    background-color: #F29A00 !important;
  }

  #user-tools:hover.a:link{
    color: black !important;
  }
  #header a:focus, #header a:hover {
    color: yellow !important;
    text-decoration: mone !important;
}
.breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs{
    color: white !important;
    text-decoration: none;
}
#user-tools a {
    border-bottom: 0px solid rgba(255, 255, 255, 0.25) !important;
}
div.breadcrumbs {
  background-color: #91C802 !important;
}
#content-main .object-tools a:focus, #content-main .object-tools a:hover {
    background-color: #D4014B !important;
}
#content-main .object-tools a, #content-main .object-tools a {
    background-color: #dc3545 !important;
}
fieldset.module.aligned.Información.Básica.Capacitacion  h2, fieldset.module.aligned.Información.Básica.Capacitacion  caption, fieldset.module.aligned.Información.Básica.historia  h2, fieldset.module.aligned.Información.Básica.historia  caption, fieldset.module.aligned.Información.Básica.Taller  h2, fieldset.module.aligned.Información.Básica.Taller  caption , fieldset.module.aligned.Pestaña  h2,
 fieldset.module.aligned.Pestaña  caption  {
    background-color: #C72C09  !important;
}
fieldset.module.aligned.Video.Capacitación  h2, fieldset.module.aligned.Video.Capacitación  caption, fieldset.module.aligned.Video.historia h2, fieldset.module.aligned.Video.historia  caption, fieldset.module.aligned.Video.Taller h2, fieldset.module.aligned.Video.Taller caption, #mundo-group fieldset.module  h2, #mundo-group fieldset.module  caption {
    background-color: #E1430A !important;
}
#imagen-group fieldset.module  h2, #imagen-group fieldset.module  caption {
    background-color: #F29A00 !important;
}
#archivo-group fieldset.module  h2, #archivo-group fieldset.module  caption {
    background-color: #F9B70E !important;
}
div.form-row.field-Mundo_Rojo_Desarrollo_Productivo.required label, div.form-row.field-Mundo_Rojo_Desarrollo_Productivo label.required {
    color: #DA2712 !important;
}
div.form-row.field-Mundo_Violeta_Desarrollo_Intrapersonal.required label, div.form-row.field-Mundo_Violeta_Desarrollo_Intrapersonal label.required {
    color: #5A0482 !important;
}
div.form-row.field-Mundo_Verde_Desarrollo_Sustentable.required label, div.form-row.field-Mundo_Verde_Desarrollo_Sustentable label.required {
    color: #01A32A !important;
}
div.form-row.field-Mundo_Rosa_Desarrollo_Interpersonal.required label, div.form-row.field-Mundo_Rosa_Desarrollo_Interpersonal label.required {
    color: #F0016C !important;
}
div.form-row.field-Mundo_Amarillo_Desarrollo_Cognitivo.required label, div.form-row.field-Mundo_Amarillo_Desarrollo_Cognitivo label.required {
    color: #E9AF01 !important;
}
div.form-row.field-Mundo_Azul_Desarrollo_Físico.required label, div.form-row.field-Mundo_Azul_Desarrollo_Físico label.required {
    color: #0372DF !important;
}
div.form-row.field-Flor_Mística.required label, div.form-row.field-Flor_Mística label.required {
    color: #04A181 !important;
}

.button.default, input[type="submit"].default, .submit-row input.default {
    background: #017D1E !important;
}
.button.default: focus, input[type="submit"].default: focus, .submit-row input.default: focus {
    background: white !important;
}
.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: #32AD4F!important;

}
#changelist .actions .button {
    background: #fff !important;
}
#changelist #toolbar form input[type="submit"] {
    background: #fff !important;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Sitio Administrador de Suelo Fértil</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
